<!-- views/dashboard.ejs -->
<link rel="stylesheet" href="/styles/styles.css">
<div class="container">
    <h1>Welcome!</h1>

    <p class="subscription-status">
        You have an active Subscription
    </p>
    <a href="/payment/pay-subscription">Pay for subscription</a>
    <a href="/auth/logout">Logout</a>
</div>
